* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
}

li {
    list-style: none;
}



/*面包屑*/
.crumb {
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 15px;
    background: #fff;
    border-radius: 3px;
}


@media screen and (max-width: 1200px) and (min-width: 770px) {
    .crumb {
        width: 90%;
        padding: 10px;
        margin: 0 auto;
        margin-bottom: 15px;
        background: #fff;
        border-radius: 3px;
    }
}

@media screen and (max-width: 770px)  {
    .crumb {
        width: 100%;
        padding: 10px;
        margin: 0 auto;
        margin-bottom: 15px;
        background: #fff;
        border-radius: 3px;
    }
}


.crumb span {
    padding: 0 5px;
    color: #999;
}

/*导航菜单*/
.nav_path {
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
}


.nav {
    width: 80%;
    margin: 0 auto;
    background: #3D92E4;
    border-radius: 5px;
    overflow: hidden;
}


@media screen and (max-width: 1200px) and (min-width: 770px) {
    .nav {
        width: 90%;
        margin: 0 auto;
        background: #3D92E4;
        border-radius: 5px;
        overflow: hidden;
    }
}

@media screen and (max-width: 770px)  {
    .nav {
        width: 100%;
        margin: 0 auto;
        background: #3D92E4;
        border-radius: 5px;
        overflow: hidden;
    }
}


.nav .navlist .nav_a {
    float: left;
    line-height: 45px;
    padding: 0 15px;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
}

.nav .navlist .nav_on, .nav .navlist a:hover {
    background: #2273C4;
}



.search {
    position: relative;
    float: right
}

.search .searchbox {
    width: 200px;
}

.search .searchbox .input-key {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 150px;
    height: 25px;
    line-height: 25px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background: #fff;
    -webkit-transition: border-color .2s linear;
    transition: border-color .2s linear
}

.search .searchbox .btn-search {
    opacity: 0;
}

.search .searchbox label {
    position: absolute;
    top: 10px;
    right: 15px;
}



.container {
    width: 80%;
    *zoom: 1;
    margin-right: auto;
    margin-left: auto
}

@media screen and (max-width: 1200px) and (min-width: 770px) {
    .container {
        width: 90%;
        *zoom: 1;
        margin-right: auto;
        margin-left: auto
    }
}

@media screen and (max-width: 770px)  {
    .container {
        width: 100%;
        *zoom: 1;
        margin-right: auto;
        margin-left: auto
    }
}
/*.container:before, .container:after {*/
    /*content: " ";*/
    /*display: table*/
/*}*/

/*.container:after {*/
    /*clear: both*/
/*}*/

/*.clear:after {*/
    /*content: ".";*/
    /*display: block;*/
    /*height: 0;*/
    /*clear: both;*/
    /*overflow: hidden;*/
/*}*/

.mr-15 {
    margin-right: 15px;
}

.mt-15 {
    margin-top: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}


.list-image {
    padding: 10px 0;
    margin-right: -16px;
}

.list-image li {
    float: left;
    width: 168px;
    margin: 8px 0;
    margin-right: 16px;
}

.list-image li a {
    width: 100%;
}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
}


/*频道首页*/
.channel-index {
    background: #fff;
    padding: 5px 10px;
}

.channel-item {
    width: 100%;
    text-align: center;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    cursor: pointer;
    display: block;
}

.channel-item:hover {
    color: #fff;
    background: #3D92E4;
    border: 1px solid #3D92E4;
}


.channel-item .image {
    background: #fff;
    display: block;

}

.channel-item .image img {
    width: 100%;
    height: 92px;
    display: block;
    border-radius: 3px 3px 0 0;
}

.channel-item .title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*.channel-item .title:hover {*/
    /*color: #fff;*/
    /*background: #3D92E4;*/
/*}*/

.filter {}

.filter h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 35px;
}

.filter-list {
    margin-right: -10px;
}

.filter-list li {
    float: left;
    width: 100px;
    margin: 5px 0;
    margin-right: 10px;
}

.filter-list li a {
    display: block;
    line-height: 25px;
    padding: 2px 10px;
    font-size: 12px;
    text-align: center;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    cursor: pointer;
}

/*.filter-list li a:hover {*/
    /*background: #3D92E4;*/
    /*border: 1px solid #3D92E4;*/
    /*color: #fff;*/
/*}*/

.channel-player .title {
    flex: 1;
}

.channel-title{
    font-size: 24px;
    line-height: 75px;
    color: #888888;
    flex: 1;
}

.channel-player {
    padding: 0 10px;
    background: #fff;
    /* background: url(../images/bg-1.jpg) 0 0 repeat-x; */
}

.flexbox {
    display: flex;
    align-items: center;
}

.fl {
    float: left;
}

.title span img {
    width: 121px;
    height: 75px;
}

