.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.text-center {
    text-align: center;
}



.footer {
 color:#777;
 background-color: #fff;
 padding:30px 0;
 border-top:1px solid #e5e5e5;
 margin-top:70px
}
.footer a {
 color:#777
}
.footer-top .about>div {
 height:110px;
 margin-bottom:10px
}
.footer-top .about>div h4 {
 color:#777;
 font-size:16px
}
.footer-bottom {
 font-size:13px
}
.footer-bottom ul>li {
 padding:0
}
.footer-bottom ul>li+li:before {
 padding:0 10px;
 color:#ccc;
 content:"|"
}