@charset "UTF-8";

/** Font **/
@font-face {
    font-family: "Merriweather";
    src: url("/css/fonts/Merriweather-Black.ttf");
}

@font-face {
    font-family: "Merriweather-Light";
    src: url("/css/fonts/Merriweather-Light.ttf");
}

/*
 * variables
 */
body,
html,
div,
header,
footer,
nav,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

html {
    height: 100%;
}

body {
    color: #1b1b1b;
    font-family: "PingFang SC", "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Noto Sans", "Segoe UI", Roboto, Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    position: relative;
    min-height: 100%;
    padding-bottom: 190px;
    width: 100%;
}

@media screen and (max-width: 770px) {
    body {
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent;
    }
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}


html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

input {
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  padding: 15px;
  box-sizing: border-box;
}

.full-width-input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

hr {
  margin: 0;
}

.button {
  padding: 10px;
  background: #76dc76;
  color: #fff;
  border: 1px solid transparent;
  borderRadius: 6px;
  font: inherit;
  cursor: pointer
}

.button-default {
  background: #cacaca;
  color: black;
}

/* layout */
.main-content {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

/* PlayItemList */
.new-PlayItem-form {
  margin-bottom: 10px;
}

.PlayItems {
  margin: 0 auto;
  max-width: 980px;
}

.PlayItems-header {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: right;
}

/* PlayItem */
.PlayItem {
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
}

.PlayItem-header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PlayItem-body {
  padding: 10px 20px;
  min-height: 60px;
}

.PlayItem-lists {
  display: flex;
  justify-content: space-between;
}

.PlayItem-list {
  width: 300px;
}

.PlayItem-list-title {
  margin-bottom: 10px;
}
