@charset "UTF-8";

/** Font **/
@font-face {
    font-family: "Merriweather";
    src: url("/css/fonts/Merriweather-Black.ttf");
}

@font-face {
    font-family: "Merriweather-Light";
    src: url("/css/fonts/Merriweather-Light.ttf");
}

/*
 * variables
 */
body,
html,
div,
header,
footer,
nav,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

html {
    height: 100%;
}

body {
    color: #1b1b1b;
    font-family: "PingFang SC", "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Noto Sans", "Segoe UI", Roboto, Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    position: relative;
    min-height: 100%;
    padding-bottom: 190px;
    width: 100%;
}

@media screen and (max-width: 770px) {
    body {
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent;
    }
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

blockquote {
    color: #444;
    border-left: 5px solid #D6DBDF;
    padding-left: 15px;
    background: rgba(34, 50, 83, 0.03);
    padding: 10px 20px;
    margin: 0 0 20px;
}

blockquote p:last-of-type {
    margin: 0;
}

table {
    margin: 8px 0;
    border-collapse: collapse;
}

table thead {
    border-bottom: 1px solid #777;
    background-color: #aaa;
    color: #fff;
}

table th {
    border: 1px solid #cfd8dc;
    padding: 2px 10px;
}

table tbody tr:nth-of-type(2n+1) {
    background-color: #f8f8fd;
}

table tbody tr:nth-of-type(2n) {
    background-color: #e5eaed;
}

table td {
    border: 1px solid #cfd8dc;
    padding: 2px 10px;
}

p {
    margin: 0 0 10px;
}

img {
    max-width: 100%;
}



#markdown-toc {
    display: none;
}

.page[post] .label {
    margin-top: 16px;
    overflow: hidden;
}

.page[post] .label .label-card {
    float: left;
    margin-right: 15px;
}

.page[post] .label .label-card .point {
    padding: 0 10px;
    color: #9d9d9d;
}

.page[post] .label .label-card i {
    padding-right: 5px;
    color: #6b6a6a;
}

.page[post] a {
    color: #4d6dad;
    transition: 0.5s ease;
}

.page[post] a:hover {
    color: #223253;
    background-color: #f4efeb;
}

.page[post] .left ul>h2 {
    color: #333;
}

.page[post] .left ul li {
    color: #333;
}

@media screen and (max-width: 770px) {
    .page[post] .left h2 {
        font-size: 24px;
    }

    .page[post] .left h3 {
        font-size: 20px;
    }

    .page[post] .left h4 {
        font-size: 18px;
    }

    .page[post] .left h5 {
        font-size: 16px;
    }

    .page[post] .left h6 {
        font-size: 15px;
    }
}

/* 图片说明文字 */
.img-instructions {
    font-size: .5rem;
    margin-top: -28px;
    text-align: center;
    padding: 5px;
    color: #909090;
}

.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.page {
    width: 1140px;
    box-sizing: border-box;
    margin: 0 auto;
}

.page .left {
    width: 75%;
    float: left;
    padding: 20px 30px;
    line-height: 29px;
    font-family: Merriweather-Light, -apple-system, Verdana, "PingFang SC", "Helvetica Neue", Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.page .left .postImg {
    margin-bottom: 16px;
    min-height: 260px;
    border-radius: 5px;
    background-position: 50% 50%;
    background-size: cover;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
}

.page .left>h1 {
    margin-bottom: -10px;
}

.page .left a:not([title]) {
    word-break: break-all;
}

.page .left>ul>h2 {
    margin-left: -40px;
    color: #6a6b6b;
}

.page .left>ul li {
    line-height: 1.8;
    color: #888888;
}

.page .left>ul li h2 {
    font-size: 1.5em;
    font-weight: 400;
}

.page .left>ul li time {
    display: inline-block;
}

.page .left>ul li .title {
    font-weight: bold;
    color: #223253;
    transition: 0.3s ease;
}

.page .left>ul li .title:hover {
    color: #4d6dad;
}

.page .left>ul li .excerpt .postImg {
    margin-bottom: 16px;
    min-height: 260px;
    border-radius: 5px;
    background-position: 50% 50%;
    background-size: cover;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
}

.page .left>ul li .label {
    font-size: 12px;
}

.page .left>ul li i {
    margin-right: 5px;
}

.page .left>ul li .categories {
    padding: 0 15px;
}

.page .left>ul li .categories i {
    color: #9e9d9d;
}

.page .left>ul li .categories a {
    padding: 0 5px;
    background-color: #9e9d9d;
    color: #fff;
    border-radius: 4px;
    font-size: 90%;
    transition: 0.3s ease;
}

.page .left>ul li .categories a:hover {
    background-color: #b6b6b9;
}

.page .left>ul li .pageTag i {
    color: #c6cbe9;
}

.page .left>ul li .pageTag a {
    padding: 0 5px;
    background-color: #c6cbe9;
    border-radius: 4px;
    color: #fff;
    font-size: 90%;
    transition: 0.3s ease;
}

.page .left>ul li .pageTag a:hover {
    background-color: #c0ddc7;
}

.page .anchor {
    display: none;
}

.page .right {
    float: left;
    width: 25%;
    position: fixed;
    right: 2.5%;
    padding-left: 20px;
    min-width: 250px;
}

.page .right .fixed {
    position: fixed;
    top: 20px;
}

.page .right .scroll-bottom {
    position: absolute;
    bottom: 190px;
}

.page .right .side {
    background-color: white;
    box-sizing: border-box;
    padding-bottom: 1px;
    -ms-word-break: break-all;
    word-break: break-all;
    position: relative;
    /* Non standard for webkit */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.page .right .side>div {
    padding: 2px 5px 2px 10px;
    color: #999999;
    font-size: 14px;
    margin-top: 10px;
}

.page .right .side .title {
    padding: 2px 5px 2px 10px;
    color: #272822;
    border-left: 5px solid #999;
    font-size: 14px;
    margin-top: 10px;
}

.page .right .side a {
    color: #272822;
    font-size: 13px;
}

.page .right .side a:hover {
    color: #4183c4;
    background: none;
}

.page .right .side .menuWrapper {
    z-index: 1;
    position: absolute;
    top: 40px;
    bottom: 25px;
    width: 2px;
    padding: 0;
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
    border-top: 0;
    border-bottom: 0;
    left: 19px;
}

.page .right .content-ul {
    position: relative;
    z-index: 2;
    overflow-y: auto;
    padding-right: 10px;
    line-height: 1.8;
    padding-left: 13px;
    background: none;
}

.page .right .content-ul li {
    font-weight: normal;
    list-style: none;
}

.page .right .content-ul li.current {
    background: url(../image/menu-li-active-bg.png) left 5px no-repeat;
    color: rgba(69, 157, 245, 0.9);
}

.page .right .content-ul li.current>a {
    color: white;
    background-color: rgba(69, 157, 245, 0.9);
}

.page .right .content-ul li a {
    transition: none;
    color: #555;
    border-radius: 4px;
    padding: 3px;
}

.page .right .content-ul>li {
    font-weight: bold;
    padding-left: 30px;
    background: url(../image/menu-li-bg.png) 4px 5px no-repeat;
}

.page .right .content-ul>li>ul {
    padding-left: 0;
    margin-left: -30px;
}

.page .right .content-ul>li>ul>li {
    padding-left: 50px;
    background: url(../image/menu-li-bg2.png) 4px 5px no-repeat;
}

.page .right .content-ul>li>ul>li>ul {
    padding-left: 0;
    margin-left: -50px;
}

.page .right .content-ul>li>ul>li>ul>li {
    padding-left: 70px;
}

@media screen and (max-width: 1200px) and (min-width: 770px) {
    .page {
        width: 90%;
    }
}

@media screen and (max-width: 770px) {
    .page {
        width: 95%;
    }

    .page .left {
        width: 100%;
        float: left;
        padding: 10px 14px;
        font-size: 14px;
    }

    .page .left .postImg {
        min-height: 160px;
    }

    .page .left>h1 {
        font-size: 25px;
        margin-bottom: -10px;
    }

    .page .left>ul {
        padding-left: 20px;
    }

    .page .left>ul>h2 {
        font-size: 20px;
        margin-left: -20px;
    }

    .page .left>ul li {
        margin: 20px 0;
    }

    .page .left>ul li time {
        display: block;
        width: auto;
    }

    .page .left>ul li .title {
        display: block;
        font-size: 16px;
    }

    .page .left>ul li .categories {
        font-size: 12px;
        padding-left: 0;
        padding-right: 10px;
    }

    .page .anchor {
        z-index: 1;
        text-align: center;
        border: 1px solid rgba(69, 157, 245, 0.9);
        display: block;
        visibility: visible;
        position: fixed;
        right: 2.5%;
        bottom: 75px;
        width: 36px;
        height: 33px;
        line-height: 33px;
        color: #fff;
        font-size: 15px;
        border-radius: .2rem;
        background-color: rgba(69, 157, 245, 0.9);
        transition: 0.2s cubic-bezier(0.5, 0.1, 0.51, 1.38);
    }

    .page .anchor i {
        margin: 0 auto;
    }

    .page .anchor-hide {
        opacity: 0;
        visibility: hidden;
    }

    .page .right {
        visibility: hidden;
        position: fixed;
        float: none;
        max-width: 95%;
        padding: 0;
        bottom: 114px;
        right: 2.5%;
        opacity: 0;
    }

    .page .right .wrap {
        width: 100%;
    }

    .page .right .wrap .side {
        background: none;
        width: 100%;
    }

    .page .right .wrap .side>div {
        color: white;
        border-color: rgba(255, 255, 255, 0.25);
    }

    .page .right .wrap .side li {
        color: white;
        margin: 4px 0;
        font-size: 1rem;
    }

    .page .right .wrap .side li a {
        color: white;
    }

    .page .right-show {
        z-index: 999;
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }

    .page .right-show .title {
        display: none;
    }

    .page .right-show .content-ul {
        position: fixed;
        border-radius: 6px;
        right: 2.5%;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.65);
        margin-bottom: 0;
    }

    .page .right-show .content-ul>li:last-of-type {
        margin-bottom: 16px;
    }
}

pre {
    font-size: 12px;
    overflow-x: auto;
}

code.highlighter-rouge {
    padding: 2px 4px;
    color: #009999;
    border-radius: 3px;
    font-size: 13px;
}

.highlight {
    border-radius: 3px;
    padding: 0 10px;
}

.highlight table td {
    padding: 5px;
}

.highlight table pre {
    margin: 0;
}

.highlight .cm {
    color: #999988;
    font-style: italic;
}

.highlight .cp {
    color: #999999;
    font-weight: bold;
}

.highlight .c1 {
    color: #999988;
    font-style: italic;
}

.highlight .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic;
}

.highlight .c,
.highlight .cd {
    color: #999988;
    font-style: italic;
}

.highlight .err {
    color: #a61717;
    background-color: #e3d2d2;
}

.highlight .gd {
    color: #000000;
    background-color: #ffdddd;
}

.highlight .ge {
    color: #000000;
    font-style: italic;
}

.highlight .gr {
    color: #aa0000;
}

.highlight .gh {
    color: #999999;
}

.highlight .gi {
    color: #000000;
    background-color: #ddffdd;
}

.highlight .go {
    color: #888888;
}

.highlight .gp {
    color: #555555;
}

.highlight .gs {
    font-weight: bold;
}

.highlight .gu {
    color: #aaaaaa;
}

.highlight .gt {
    color: #aa0000;
}

.highlight .kc {
    color: #000000;
    font-weight: bold;
}

.highlight .kd {
    color: #000000;
    font-weight: bold;
}

.highlight .kn {
    color: #000000;
    font-weight: bold;
}

.highlight .kp {
    color: #000000;
    font-weight: bold;
}

.highlight .kr {
    color: #000000;
    font-weight: bold;
}

.highlight .kt {
    color: #445588;
    font-weight: bold;
}

.highlight .k,
.highlight .kv {
    color: #000000;
    font-weight: bold;
}

.highlight .mf {
    color: #009999;
}

.highlight .mh {
    color: #009999;
}

.highlight .il {
    color: #009999;
}

.highlight .mi {
    color: #009999;
}

.highlight .mo {
    color: #009999;
}

.highlight .m,
.highlight .mb,
.highlight .mx {
    color: #009999;
}

.highlight .sb {
    color: #d14;
}

.highlight .sc {
    color: #d14;
}

.highlight .sd {
    color: #d14;
}

.highlight .s2 {
    color: #d14;
}

.highlight .se {
    color: #d14;
}

.highlight .sh {
    color: #d14;
}

.highlight .si {
    color: #d14;
}

.highlight .sx {
    color: #d14;
}

.highlight .sr {
    color: #009926;
}

.highlight .s1 {
    color: #d14;
}

.highlight .ss {
    color: #990073;
}

.highlight .s {
    color: #d14;
}

.highlight .na {
    color: #008080;
}

.highlight .bp {
    color: #999999;
}

.highlight .nb {
    color: #0086B3;
}

.highlight .nc {
    color: #445588;
    font-weight: bold;
}

.highlight .no {
    color: #008080;
}

.highlight .nd {
    color: #3c5d5d;
    font-weight: bold;
}

.highlight .ni {
    color: #800080;
}

.highlight .ne {
    color: #990000;
    font-weight: bold;
}

.highlight .nf {
    color: #990000;
    font-weight: bold;
}

.highlight .nl {
    color: #990000;
    font-weight: bold;
}

.highlight .nn {
    color: #555555;
}

.highlight .nt {
    color: #000080;
}

.highlight .vc {
    color: #008080;
}

.highlight .vg {
    color: #008080;
}

.highlight .vi {
    color: #008080;
}

.highlight .nv {
    color: #008080;
}

.highlight .ow {
    color: #000000;
    font-weight: bold;
}

.highlight .o {
    color: #000000;
    font-weight: bold;
}

.highlight .w {
    color: #bbbbbb;
}

.highlight {
    background-color: #f8f8f8;
}

.page[index] a {
    color: #0767c7;
    transition: 0.5s ease;
}

.page[index] a:hover {
    color: #223253;
}

.page[index] .left {
    font-size: .9rem;
}

.page[index] .left>ul {
    padding: 0;
}

.page[index] .left>ul>li {
    list-style: none;
}

.page[index] .left>ul li {
    color: #333;
}

.page[index] .left>ul li h2 {
    border: none;
    margin: 0;
}

.page[index] .left>ul li .label {
    color: #999;
    margin-bottom: 15px;
    overflow: hidden;
}

.page[index] .left>ul li .label .label-card {
    float: left;
    margin-right: 15px;
}

.page[index] .left>ul li .label .label-card i {
    padding-right: 0;
    margin-right: 3px;
    color: #999;
}

.page[index] .left>ul li .label .categories {
    padding: 0;
}

.page[index] .left>ul li .excerpt h2 {
    font-size: 24px;
}

.page[index] .left>ul li .excerpt h3 {
    font-size: 22px;
}

.page[index] .left>ul li .excerpt h4 {
    font-size: 20px;
}

.page[index] .left>ul li .excerpt .postImg {
    margin-bottom: 16px;
    min-height: 260px;
    border-radius: 5px;
    background-position: 50% 50%;
    background-size: cover;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
}

.page[index] .left>ul li .excerpt p {
    font-family: Merriweather-Light, -apple-system, Verdana, "PingFang SC", "Helvetica Neue", Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.page[index] .left>ul li .read-all {
    text-align: right;
    font-size: 14px;
}

.page[index] .left>ul li .read-all a {
    color: #778ab0;
    transition: 0.2s ease;
}

.page[index] .left>ul li .read-all a:hover {
    color: #5872a7;
}

.page[index] .left>ul li .read-all a i {
    padding-right: 3px;
}

.page[index] .left .pagination {
    text-align: center;
}

.page[index] .left .pagination .previous,
.page[index] .left .pagination .next {
    font-size: 20px;
    padding: 0 5px;
}

.page[index] .left .pagination .page_number {
    padding: 0 5px;
}

.page[index] .left .pagination .disable {
    color: #cbcbcb;
}

.page[index] .right .wrap .side {
    margin-bottom: 20px;
    padding-bottom: 0;
}

.page[index] .right .wrap .side .tags-cloud {
    font-family: Merriweather-Light, -apple-system, Verdana, "PingFang SC", "Helvetica Neue", Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.page[index] .right .wrap .side>div {
    font-family: Merriweather-Light, -apple-system, Verdana, "PingFang SC", "Helvetica Neue", Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.page[index] .right .wrap .side i {
    margin-right: 3px;
}

.page[index] .right .wrap .side .content-ul[cate] {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
}

.page[index] .right .wrap .side .content-ul[cate] li {
    font-size: 14px;
}

.page[index] .right .wrap .side .content-ul[cate] li a {
    display: block;
    width: 100%;
    padding: 2px 0;
    border-bottom: 1px solid #eee;
}

.page[index] .right .wrap .side .content-ul[cate] li a:hover {
    background-color: #dbdfee;
}

.page[index] .right .wrap .side .content-ul[cate] li a:hover .badge {
    background-color: #dbdfee;
    transform: scale(1.2) rotate(360deg);
}

.page[index] .right .wrap .side .content-ul[cate] li a .name {
    padding-left: 15px;
}

.page[index] .right .wrap .side .content-ul[cate] li a .badge {
    display: block;
    float: right;
    text-align: center;
    margin-right: 15px;
    margin-top: 3px;
    padding: 0 10px;
    font-size: 12px;
    color: #fff;
    background-color: #778ab0;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.page[index] .right .wrap .side .content-ul[cate] li:last-of-type a {
    border: none;
}

.page[index] .right .wrap .side .content-ul[recent] {
    padding-bottom: 16px;
}

.page[index] .right .wrap .side .content-ul[recent] li {
    color: #aaa;
    font-size: 14px;
}

.page[index] .right .wrap .side .tags-cloud {
    font-weight: normal;
}

.page[index] .right .wrap .side .tags-cloud a {
    padding: 0 3px;
    border-radius: 5px;
}

.page[index] .right .wrap .side .tags-cloud a:hover {
    background-color: #f0e7ce;
}

@media screen and (max-width: 770px) {
    .page[index] .left>ul li h2 {
        font-size: 22px;
    }

    .page[index] .left>ul li .excerpt h2 {
        font-size: 20px;
    }

    .page[index] .left>ul li .excerpt h3 {
        font-size: 18px;
    }

    .page[index] .left>ul li .excerpt h4 {
        font-size: 16px;
    }

    .page[index] .left>ul li .excerpt li {
        margin: 0;
    }

    .page[index] .left>ul li .excerpt .postImg {
        min-height: 160px;
    }
}

.page[demo] .left {
    width: 100%;
}

.page[demo] .left a {
    color: #4d6dad;
    transition: 0.5s ease;
}

.page[demo] .left a:hover {
    color: #223253;
    background-color: #f4efeb;
}

.page[demo] .left .grid {
    margin: 0 auto;
    /* clearfix */
}

.page[demo] .left .grid:after {
    content: '';
    display: block;
    clear: both;
}

.page[demo] .left .grid .grid-item {
    width: 250px;
    background-color: #fff;
    margin-bottom: 20px;
    padding-bottom: 10px;
    float: left;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.page[demo] .left .grid .grid-item:hover {
    -webkit-box-shadow: 0 2px 30px -1px rgba(0, 0, 0, 0.6), inset 0 0 87px 0 rgba(184, 184, 184, 0.13);
    -moz-box-shadow: 0 2px 30px -1px rgba(0, 0, 0, 0.6), inset 0 0 87px 0 rgba(184, 184, 184, 0.13);
    box-shadow: 0 2px 30px -1px rgba(0, 0, 0, 0.6), inset 0 0 87px 0 rgba(184, 184, 184, 0.13);
}

.page[demo] .left .grid .grid-item .a-img {
    color: #fff;
}

.page[demo] .left .grid .grid-item .a-img:hover {
    color: #fff;
    background-color: #fff;
}

.page[demo] .left .grid .grid-item .demo-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 8px;
}

.page[demo] .left .grid .grid-item p {
    margin: 0;
    padding: 0 8px;
    font-size: 14px;
}

.deep {
    transition: 0.32s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    transform-style: preserve-3d;
    transform: perspective(1600px) rotateX(14deg) translateZ(-200px);
}

.site-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #f7f7f7;
    color: #f8f8f2;
}

.site-footer .wrapper {
    width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
    font-size: 12px;
}

.site-footer .wrapper p {
    color: #999999;
    margin: 0;
    line-height: 1.6;
}

.site-footer .wrapper .contact {
    display: inline-block;
}

.site-footer .wrapper .contact a {
    color: rgba(69, 157, 245, 0.9);
    transition: 0.3s ease;
}

.site-footer .wrapper .contact a:hover {
    color: #ffff06;
}

.site-footer .wrapper .contact a i {
    margin: 0 5px;
    font-size: 20px;
}

.site-footer .wrapper .description {
    display: inline-block;
}

.site-footer .wrapper .power a {
    color: rgba(69, 157, 245, 0.9);
    transition: 0.3s ease;
}

.site-footer .wrapper .power a:hover {
    color: #4d6dad;
}

@media screen and (max-width: 1200px) and (min-width: 770px) {
    .site-footer .wrapper {
        width: 90%;
    }
}

@media screen and (max-width: 770px) {
    .site-footer .wrapper {
        width: 90%;
    }
}

.content-ul::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

.content-ul::-webkit-scrollbar-thumb {
    background: #D3D3D3;
    border: 0 none #ffffff;
    border-radius: 50px;
}

.content-ul::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

.content-ul::-webkit-scrollbar-thumb:active {
    background: #787878;
}

.content-ul::-webkit-scrollbar-track {
    background: #F1F1F1;
    border-radius: 50px;
}

.content-ul::-webkit-scrollbar-track:hover {
    background: #e2e2e2;
}

.content-ul::-webkit-scrollbar-track:active {
    background: #cccccc;
}

.content-ul::-webkit-scrollbar-corner {
    background: transparent;
}

.back-to-top {
    position: fixed;
    left: 50%;
    margin-left: 580px;
    bottom: 37px;
    border-radius: .2rem;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.9);
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease;
}

.back-to-top a {
    display: block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 20px;
    color: #b4b4b4;
}

.back-to-top-show {
    visibility: visible;
    opacity: 1;
}

.back-to-top-show:hover {
    opacity: 1;
}

@media screen and (max-width: 1200px) and (min-width: 770px) {
    .back-to-top {
        left: 50%;
        margin-left: 45.5%;
    }
}

@media screen and (max-width: 770px) {
    .back-to-top {
        right: 2.5%;
        left: auto;
        margin-left: 0px;
    }

    .back-to-top a {
        width: 34px;
        height: 33px;
        line-height: 33px;
        text-align: center;
        font-size: 18px;
    }
}

.page .searchBox {
    position: relative;
    margin-bottom: 10px;
    padding: 2px;
}

.page .searchBox .searchBtn {
    position: absolute;
    top: 14px;
    left: 14px;
    color: #dbdfee;
}

.page .searchBox input {
    width: 100%;
    font-size: 1.2rem;
    box-sizing: border-box;
    padding: 5px 5px 5px 35px;
    border: none;
    outline: none;
    height: 2.4rem;
    line-height: 2.4rem;
    background-color: #f7f7f7;
}

.page .searchBox ul {
    background-color: #f7f7f7;
    font-size: 13px;
    display: none;
    padding: 4px 0 4px;
    margin: 0;
}

.page .searchBox ul li {
    list-style-type: none;
}

.page .searchBox ul li.active a {
    color: #fff;
    background-color: rgba(69, 157, 245, 0.9);
}

.page .searchBox ul li a {
    transition-duration: 0s;
    padding: 6px 6px 6px 10px;
    display: block;
    color: #999;
}

.page .searchBox ul li a:hover {
    color: #fff;
    background-color: rgba(69, 157, 245, 0.9);
}

h1 {
    font-weight: 400;
    font-size: 2em;
    margin: 1em 0;
}

h2 {
    font-size: 1.125em;
    padding-bottom: .2em;
    border-bottom: 1px solid #eee;
    margin: 2em 0 1.8em;
}

h3 {
    font-size: 1.05em;
    margin: 1.5em 0;
}

h4,
h5,
h6 {
    font-size: 1em;
    margin: 1em 0;
}

table {
    word-break: break-all;
}