body {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-family: Guardian Sans Text,sans-serif;
    color: #3d3b49;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    overflow-x: hidden;
}

div {
    display: block;
}

.playitem{

}
.playitem img {

    width: 256px;
    height: 192px;
    display: block;
    border-radius: 3px 3px 0 0;
}


/*button {
    -webkit-appearance: button;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
    text-transform: none;
}*/

.position-button {
    /*position: absolute;
    right: 0;
    top: 0;
    z-index: 1;*/

}

.playitem-button {
    background: none;
    border: none;
    cursor: pointer;
}

.playitem-button-icon {
    display: inline-block;
    vertical-align: middle;
}

.playitem-button-icon  svg {
    width: 24px;
    height: 24px;
    fill: #018c8c;
}

::selection {
    background: #c4cfdc;
}


.dropdown {
     position: relative;
     display: inline-block;
}
.dropdown ul {
     list-style-type: none;
     margin: 0 0;
     padding: 5 0;
     top:45px;
     right:0px;
     width: 200px;
     background-color: white;
     font-weight:bold;
     position: absolute;

     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
}
.dropdown li a {
     color: #000;
     text-decoration: none;
}
.dropdown li {
     padding: 8px 16px;
     border-bottom: 1px solid #e5e5e5;
}
.dropdown li:last-child {
     border-bottom: none;
}
.dropdown li:hover {
     background-color: #e5e5e5;
     color: white;
}
.dropdown .button{
     width:178px;
     height:18px;
    /* background-color:#ff3232 ;
     padding:12px;
     border-radius:5px;
     font-weight:bold;
     color:white;*/
}
.dropdown .button:before{
     content:"";
     position:absolute;
     width:0px;
     height:0px;
     border: 10px solid;
     border-color: white transparent transparent transparent;
     right:6px;
     top:18px;
}