/* @import url(iconfont.css); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    text-decoration: none;
    color: #666;
}

a:focus {
    outline: none;
}

a:hover {
    color: #3D92E4;
}

textarea {
    outline: none;
}

input {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "微软雅黑", "宋体", Helvetica, sans-serif;
}

select {
    outline: none;
}

img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

em, i {
    font-style: normal;
}

body {
    width: 100%;
    color: #666;
    font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: #F5F5F5;
}

.container {
    width: 80%;
    *zoom: 1;
    margin-right: auto;
    margin-left: auto
}

@media screen and (max-width: 1200px) and (min-width: 770px) {
    .container {
        width: 90%;
        *zoom: 1;
        margin-right: auto;
        margin-left: auto
    }
}

@media screen and (max-width: 770px)  {
    .container {
        width: 100%;
        *zoom: 1;
        margin-right: auto;
        margin-left: auto
    }
}
.container:before, .container:after {
    content: " ";
    display: table
}

.container:after {
    clear: both
}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
}

.mr-15 {
    margin-right: 15px;
}

.mt-15 {
    margin-top: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

/*面块*/
.pannel {
    background: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}

/*面包屑*/
.crumb {
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 15px;
    background: #fff;
    border-radius: 3px;
}


@media screen and (max-width: 1200px) and (min-width: 770px) {
    .crumb {
        width: 90%;
        padding: 10px;
            margin: 0 auto;
        margin-bottom: 15px;
        background: #fff;
        border-radius: 3px;
    }
}

@media screen and (max-width: 770px)  {
    .crumb {
        width: 100%;
        padding: 10px;
            margin: 0 auto;
        margin-bottom: 15px;
        background: #fff;
        border-radius: 3px;
    }
}


.crumb span {
    padding: 0 5px;
    color: #999;
}

/*导航菜单*/
.nav_path {
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
}


.nav {
    width: 80%;
    margin: 0 auto;
    background: #3D92E4;
    border-radius: 5px;
    overflow: hidden;
}


@media screen and (max-width: 1200px) and (min-width: 770px) {
    .nav {
        width: 90%;
        margin: 0 auto;
        background: #3D92E4;
        border-radius: 5px;
        overflow: hidden;
    }
}

@media screen and (max-width: 770px)  {
    .nav {
        width: 100%;
        margin: 0 auto;
        background: #3D92E4;
        border-radius: 5px;
        overflow: hidden;
    }
}


.nav .navlist .nav_a {
    float: left;
    line-height: 45px;
    padding: 0 15px;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
}

.nav .navlist .nav_on, .nav .navlist a:hover {
    background: #2273C4;
}

/*
.list-image{padding: 10px 0; margin-right: -16px;}
.list-image li{float: left;width: 200px; margin: 8px 0; margin-right: 16px;}
.list-image li a{width: 100%;}
.list-image li.noresult{width: 100%; color: #999; font-size: 16px; padding-top:15px; text-align: center;}
*/
.list-image {
    padding: 10px 0;
    text-align: center;
}

.list-image ul {
    display: inline;
}

.list-image li {
    float: left;
    width: 170px;
    margin: 8px 0;
    margin-left: 10px;
    margin-right: 16px;
    display: inline;
}

.list-image li a {
    width: 100%;
    display: block;
}

.list-image li.noresult {
    width: 100%;
    color: #999;
    font-size: 16px;
    padding-top: 10px;
    text-align: center;
    display: block;
}

.channel-item {
    width: 100%;
    text-align: center;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    cursor: pointer;
    display: block;
}

.channel-item .image {
    background: #fff;
    display: block;
}

.channel-item .image img {
    width: 148px;
    height: 92px;
    display: block;
    border-radius: 3px 3px 0 0;
    margin: 0 auto;
}

.channel-item .title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.channel-item:hover {
    color: #fff;
    background: #3D92E4;
    border: 1px solid #3D92E4;
}

.flexbox {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

.fc-red {
    color: #F15B5B;
}

.fc-gray {
    color: #999;
}

.text-r {
    text-align: right;
}

.text-l {
    text-align: left;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.border-radius-5 {
    border-radius: 5px;
}

.btn {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    width: 158px;
    height: 45px;
    padding: 0;
    margin: 0;
    border: 1px solid #b0b0b0;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    color: #b0b0b0;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
    border-radius: 3px;
}

.btn:focus {
    outline: 0
}

.btn:active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.18);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.18)
}

.btn[disabled] {
    border-style: dashed !important;
    border-color: #e0e0e0;
    background-color: #fff !important;
    color: #b0b0b0 !important;
    cursor: default !important
}

.btn-disabled {
    background: #e0e0e0 !important;
    border-color: #e0e0e0 !important;
    color: #b0b0b0 !important;
    cursor: default !important
}

.btn-small {
    width: 80px;
    height: 28px;
    font-size: 12px;
    line-height: 28px
}

.btn-normal {
    width: 118px;
    height: 32px;
    font-size: 14px;
    line-height: 32px
}

.btn-large {
    width: 178px;
    height: 48px;
    line-height: 48px
}

.btn-biglarge {
    width: 298px;
    height: 52px;
    line-height: 52px;
    font-size: 16px
}

.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0
}

input.btn, button.btn {
    width: 160px;
    height: 45px
}

input.btn-small, button.btn-small {
    width: 120px;
    height: 30px
}

input.btn-normal, button.btn-normal {
    width: 120px;
    height: 35px
}

input.btn-large, button.btn-large {
    width: 180px;
    height: 50px
}

input.btn-biglarge, button.btn-biglarge {
    width: 300px;
    height: 54px
}

.btn-gray {
    background: #b0b0b0;
    border-color: #b0b0b0;
    color: #fff
}

.btn-gray:hover {
    background-color: #757575;
    border-color: #757575;
    color: #fff
}

.btn-primary {
    background: #3D92E4;
    border-color: #3D92E4;
    color: #fff
}

.btn-primary:hover {
    background-color: #f25807;
    border-color: #f25807;
    color: #fff
}

.btn-green {
    background: #83c44e;
    border-color: #83c44e;
    color: #fff
}

.btn-green:hover {
    background-color: #71b639;
    border-color: #71b639;
    color: #fff
}

.btn-orange {
    background: #ffac13;
    border-color: #ffac13;
    color: #fff
}

.btn-orange:hover {
    background-color: #ff920f;
    border-color: #ff920f;
    color: #fff
}

.btn-gold {
    background: #ffd600;
    border-color: #ffd600;
    color: #fff
}

.btn-gold:hover {
    background-color: #fec517;
    border-color: #fec517;
    color: #fff
}

.btn-ocean {
    background: #2196f3;
    border-color: #2196f3;
    color: #fff
}

.btn-ocean:hover {
    background-color: #0c80dc;
    border-color: #0c80dc;
    color: #fff
}

.btn-blue {
    background: #3bb4f2;
    border-color: #3bb4f2;
    color: #fff
}

.btn-blue:hover {
    background-color: #0F9AE0;
    border-color: #0F9AE0;
    color: #fff
}

.btn-yellow {
    background: #F37B1D;
    border-color: #F37B1D;
    color: #fff
}

.btn-yellow:hover {
    background: #C85E0B;
    text-decoration: none;
    color: #fff
}

.btn-red {
    background: #D62A36;
    border-color: #D62A36;
    color: #fff
}

.btn-red:hover {
    background-color: #D52A36;
    border-color: #C62B26;
    color: #fff
}

.btn-purple {
    background: #a31daf;
    border-color: #a31daf;
    color: #fff
}

.btn-purple:hover {
    background-color: #9715a2;
    border-color: #9715a2;
    color: #fff
}

.btn-pink {
    background: #f93e7a;
    border-color: #f93e7a;
    color: #fff
}

.btn-pink:hover {
    background-color: #e9306c;
    border-color: #e9306c;
    color: #fff
}

.btn-cyan {
    background: #00c0a5;
    border-color: #00c0a5;
    color: #fff
}

.btn-cyan:hover {
    background-color: #03b3ad;
    border-color: #03b3ad;
    color: #fff
}

.btn-line-gray {
    border-color: #b0b0b0;
    background: #fff;
    color: #757575
}

.btn-line-gray:hover {
    color: #fff;
    background-color: #757575;
    border-color: #757575
}

.btn-line-primary {
    border-color: #3D92E4;
    background: #fff;
    color: #3D92E4
}

.btn-line-primary:hover {
    color: #fff;
    background-color: #f25807;
    border-color: #f25807
}

.btn-line-green {
    border-color: #83c44e;
    background: #fff;
    color: #83c44e
}

.btn-line-green:hover {
    color: #fff;
    background-color: #71b639;
    border-color: #71b639
}

.btn-line-orange {
    border-color: #ffac13;
    background: #fff;
    color: #ffac13
}

.btn-line-orange:hover {
    color: #fff;
    background-color: #ff920f;
    border-color: #ff920f
}

.btn-line-gold {
    border-color: #ffd600;
    background: #fff;
    color: #ffd600
}

.btn-line-gold:hover {
    color: #fff;
    background-color: #fec517;
    border-color: #fec517
}

.btn-line-ocean {
    border-color: #2196f3;
    background: #fff;
    color: #2196f3
}

.btn-line-ocean:hover {
    color: #fff;
    background-color: #0c80dc;
    border-color: #0c80dc
}

.btn-line-blue {
    border-color: #545ad0;
    background: #fff;
    color: #545ad0
}

.btn-line-blue:hover {
    color: #fff;
    background-color: #494fc5;
    border-color: #494fc5
}

.btn-line-red {
    border-color: #e53935;
    background: #fff;
    color: #e53935
}

.btn-line-red:hover {
    color: #fff;
    background-color: #e42a27;
    border-color: #e42a27
}

.btn-line-purple {
    border-color: #a31daf;
    background: #fff;
    color: #a31daf
}

.btn-line-purple:hover {
    color: #fff;
    background-color: #9715a2;
    border-color: #9715a2
}

.btn-line-pink {
    border-color: #f93e7a;
    background: #fff;
    color: #f93e7a
}

.btn-line-pink:hover {
    color: #fff;
    background-color: #e9306c;
    border-color: #e9306c
}

.btn-line-cyan {
    border-color: #00c0a5;
    background: #fff;
    color: #00c0a5
}

.btn-line-cyan:hover {
    color: #fff;
    background-color: #03b3ad;
    border-color: #03b3ad
}

.input-label {
    position: absolute;
    left: 12px;
    top: 11px;
    z-index: 2;
    padding: 0 3px;
    font-size: 14px;
    line-height: 18px;
    color: #b0b0b0;
    background: transparent;
    cursor: text;
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}

.input-text {
    width: 186px;
    height: 18px;
    padding: 10px 16px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    line-height: 18px;
    background: #fff;
    -webkit-transition: border-color .2s linear;
    transition: border-color .2s linear
}

.input-text:hover {
    border-color: #b0b0b0
}

.input-text:focus {
    outline: 0
}

.input-radio {
    opacity: 0;
}

.clearfix {
    *zoom: 1
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.hide {
    display: none !important
}

.ir {
    display: block;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
    _zoom: 1
}

.radiobox {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 36px;
}

.radiobox span {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.radiobox span:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #3D92E4;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -5px;
    border-radius: 50%;
    opacity: 0;
}

.radiobox input[type=radio]:checked+span {
    border-radius: 50%;
}

.radiobox input[type=radio]:checked+span:after {
    opacity: 1;
}

.wrap {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.primarybox {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.primary_image {
    display: inline-block;
    width: 121px;
    height: 75px;
    margin-right: 15px;
}

.primary_image img {
    width: 121px;
    height: 75px;
}

.primary_labelL {
    font-size: 14px;
}

.primary_labelLL {
    font-size: 18px;
    font-weight: 500;
}

.primary_labelR {
    text-align: right;
    color: #888;
    font-size: 14px;
}

.primary_labelRR {
    text-align: right;
    color: #888;
    font-size: 14px;
}

.primary_labelRR:after {
    content: " ";
    display: inline-block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 10px;
    width: 10px;
    border-width: 1px 1px 0 0;
    border-color: #C8C8CD;
    border-style: solid;
    position: relative;
}

.row {
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #F5F5F5;
}

.row h3 {
    font-size: 16px;
    font-weight: normal;
}

.row span {
    font-size: 12px;
    color: #999;
}

.left-bar {
    width: 220px;
}

.right-bar {
    width: 760px;
}

/*通用头部*/
.header {
    width: 1000px;
    margin: 0 auto 15px;
    padding: 20px 10px;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header:after {
    clear: both;
    content: "";
    display: table
}

.header .logo {
    float: left;
    display: block;
    position: relative;
}

.header .logo a {
    position: absolute;
}

.header .logo img {
    width: 188px;
    height: 30px;
}

.header .logo span.text {
    position: absolute;
    left: 200px;
    top: 12px;
    width: 150px;
    height: 18px;
    background: url(../images/logo-text.png) top center no-repeat;
    background-size: 100%;
}

.user-pannel {
    display: inline;
    float: right;
    position: relative;
    background: #f5f5f5;
    font-size: 12px;
}

.user-pannel .user-manage {
    display: inline;
    line-height: 30px;
    height: 30px;
    padding-left: 20px;
    background: #f5f5f5;
}

.user-pannel .user-manage a {
    margin-right: 20px;
    color: #6f7e8d
}

.user-pannel a.user-name {
    display: block;
    line-height: 30px;
    padding: 0 15px
}

.user-pannel a.user-name {
    color: #6f7e8d
}

.user-pannel a.user-name em {}

.user-pannel a.user-name i {
    margin-left: 5px;
    font-size: 15px;
}

.user-pannel ul {
    border: 1px solid #F5F5F5;
    border-top: 0;
    background: #fff;
    position: absolute;
    right: 0;
    top: 30px;
    display: none;
    border-radius: 0 0 4px 4px;
    z-index: 99
}

.user-pannel ul li {
    line-height: 30px;
    padding: 0 15px;
    white-space: nowrap
}

.user-pannel ul li.border-line {
    border-top: 1px solid #F5F5F5
}

.history {
    position: relative;
    float: right;
    margin-left: 10px;
    font-size: 12px;
}

.history .drop {
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #f5f5f5;
}

.history .drop a {
    float: left;
    padding-left: 15px;
}

.history .drop i {
    float: right;
    padding-right: 15px;
    font-size: 15px;
}

.history ul {
    min-width: 250px;
    border: 1px solid #F5F5F5;
    background: #fff;
    position: absolute;
    right: 0;
    top: 30px;
    display: none;
    z-index: 99
}

.history ul li {
    line-height: 20px;
    padding: 6px;
    white-space: nowrap;
    border-bottom: #F5F5F5 1px solid;
}

.history ul li .title {
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.history ul li .resume {
    float: right;
}

.history ul li.border-line {
    border-top: 1px solid #F5F5F5
}

.history ul li.noresult {
    color: #999;
    padding: 10px 0;
    text-align: center;
}

.search {
    position: relative;
    float: right
}

.search .searchbox {
    width: 200px;
}

.search .searchbox .input-key {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 150px;
    height: 25px;
    line-height: 25px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background: #fff;
    -webkit-transition: border-color .2s linear;
    transition: border-color .2s linear
}

.search .searchbox .btn-search {
    opacity: 0;
}

.search .searchbox label {
    position: absolute;
    top: 10px;
    right: 15px;
}

/*频道首页*/
.channel-index {
    background: #fff;
    padding: 5px 10px;
}

.filter {}

.filter h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 35px;
}

.filter-list {
    margin-right: -10px;
}

.filter-list li {
    float: left;
    width: 100px;
    margin: 5px 0;
    margin-right: 10px;
}

.filter-list li a {
    display: block;
    line-height: 25px;
    padding: 2px 10px;
    font-size: 12px;
    text-align: center;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    cursor: pointer;
}

.filter-list li a:hover {
    background: #3D92E4;
    border: 1px solid #3D92E4;
    color: #fff;
}

/*频道分类*/
.category {
    width: 100;
    margin: 10px auto;
}

.category-parent {
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #F5F5F5;
}

.category-parent h3 {
    font-size: 18px;
    font-weight: normal;
}

.category-parent span {
    font-size: 12px;
}

.category-child {
    padding: 15px 0;
}

.category-child li {
    float: left;
    width: 20%;
    margin: 10px 0;
}

.category-child li a {
    display: block;
    width: 90%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    position: relative;
}

.category-child li i.is-hot {
    position: absolute;
    left: 0;
    top: 0;
    height: 33px;
    padding: 0 10px;
    color: #fff;
    background: #F15B5B;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.category-child li i.is-flag {
    position: absolute;
    right: 0;
    top: 0;
    height: 33px;
    padding: 0 10px;
    color: #fff;
    background: #5EB95E;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.category-child li a:hover {
    background: #3D92E4;
    border: 1px solid #3D92E4;
    color: #fff;
}

/*频道列表*/
.condition {
    background: #fff;
    padding: 0 10px;
}

.condition h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 35px;
}

.condition-list li {
    float: left;
    width: 50%;
}

.condition-list li.more {
    width: 100%;
}

.condition-list li a {
    display: block;
    line-height: 25px;
    padding: 2px 10px;
    margin: 5px;
    font-size: 12px;
    text-align: center;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    cursor: pointer;
}

.condition-list li a:hover {
    background: #3D92E4;
    border: 1px solid #3D92E4;
    color: #fff;
}

.list-text {
    padding: 10px 0;
    margin-right: -16px;
}

.list-text li {
    float: left;
    width: 150px;
    margin: 8px 0;
    margin-right: 16px;
}

.list-text li a {
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-text li a:hover {
    background: #3D92E4;
    border: 1px solid #3D92E4;
    color: #fff;
}

.grid-image {
    padding: 10px 0;
}

.grid-image li {
    float: left;
    width: 100%;
    padding: 8px 0;
    border-bottom: #F5F5F5 1px solid;
    overflow: hidden;
}

.grid-image li a {
    width: 100%;
}

.grid-image li.noresult {
    width: 100%;
    color: #999;
    font-size: 16px;
    padding-top: 15px;
    text-align: center;
}

.grid-item {
    width: 100%;
}

.grid-item img {
    width: 121px;
    height: 75px;
    width: auto;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
}

.grid-item .golive {
    background: #3D92E4;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 3px;
}

.list-a {
    padding: 5px 0;
}

.list-a h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 35px;
}

.list-a li {
    float: left;
    width: 25%;
    margin: 10px 0;
}

.list-a li a {
    display: block;
    width: 90%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    cursor: pointer;
}

.list-a li a:hover {
    background: #3D92E4;
    border: 1px solid #3D92E4;
    color: #fff;
}

/*播放页面*/
.channel-player {
    padding: 0 10px;
    background: #fff;
    /*background: url(../images/bg-1.jpg) 0 0 repeat-x;*/
}

.channel-player .tips {
    text-align: center;
    padding: 30px 0;
    font-size: 18px;
    color: #888888;
}

.channel-player .info {
    padding: 10px 0;
}

.channel-player .info .title {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.channel-player .info .title span {
    float: left;
    margin-right: 10px;
}

.channel-player .info .title span img {
    width: 121px;
    height: 75px;
}

.channel-player .info .title h1 {
    font-size: 18px;
    line-height: 75px;
    color: #888888;
}

.channel-player .info .share {
    line-height: 25px;
    cursor: pointer;
}

.channel-player .info .share .favorite {
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    margin-right: 10px;
}

.channel-player .info .share .favorite:hover {
    background: #F15B5B;
    border: #F15B5B 1px solid;
    color: #fff;
}

.channel-player .info .share .is_favorite {
    background: #F15B5B;
    color: #fff;
    border-radius: 3px;
    padding: 0 15px;
}

.channel-player .info .share .no_favorite {
    background: #fff;
    border: #E0E0E0 1px solid;
    border-radius: 3px;
    padding: 0 15px;
}

.channel-player .desc {
    padding: 10px 0;
    font-size: 14px;
    line-height: 25px;
}

.channel-player .desc p {
    text-indent: 28px;
}

.channel-player .live {
    width: 100%;
}

.channel-player .live .bar {
    width: 100%;
    padding: 15px 0;
    overflow: hidden;
}

.channel-player .video {
    width: 100%;
    height: 550px;
    margin: 0 auto;
    background: #000000;
}

.channel-player .signal {
    width: 300px;
}

.channel-box {
    padding: 0 10px;
    background: #fff;
}

.channel-box .tips {
    text-align: center;
    padding: 30px 0;
    font-size: 18px;
    color: #888888;
}

.channel-box .desc {
    padding: 10px 0;
    font-size: 14px;
    line-height: 25px;
}

.channel-box .desc p {
    text-indent: 28px;
    padding: 5px 0;
}

/*频道信号*/
.signal-list {
    margin-top: 10px;
}

.signal-list a {
    float: left;
    line-height: 25px;
    padding: 2px 10px;
    margin: 5px;
    font-size: 12px;
    text-align: center;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    cursor: pointer;
}

.signal-list a:hover, .signal-list a.cur {
    background: #3D92E4;
    border: 1px solid #3D92E4;
    color: #fff;
}

/*推广样式*/
.spread-300 {
    width: 300px;
}

.spread-300 img {
    width: 100%;
    height: 100%;
}

/*直播源地址*/
.live_url {
    display: none;
}

/*分页样式*/
.pages {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}

.pages strong {
    padding: 5px 10px;
    border: 1px solid #E0E0E0;
    font-weight: normal;
}

.pages a {
    border: 1px solid #E0E0E0;
    margin: 0 5px;
    padding: 5px 10px;
}

.pages a:hover, .pages strong {
    background: #3D92E4;
    border: 1px solid #3D92E4;
    color: #fff;
}

/*会员中心*/
.member {
    width: 100%;
    padding: 15px;
    background: #fff;
    border-radius: 5px;
}

.menu:after {
    content: " ";
    display: inline-block;
    border-right: #E0E0E0 1px solid;
}

.menu .avatar {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.menu .avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.menu .avatar .name {
    padding: 5px 0;
    font-size: 12px;
}

.menu .menu-list {
    width: 100%;
}

.menu .menu-list li {
    float: left;
    width: 100%;
    text-align: center;
    margin: 5px 0;
}

.menu .menu-list li a {
    display: block;
    padding: 5px 0;
    border: #E0E0E0 1px solid;
    border-radius: 5px;
}

.menu .menu-list li a:hover {
    background: #3D92E4;
    border: #3D92E4 1px solid;
    color: #fff;
}

.menu .menu-list li .menu_on {
    background: #3D92E4;
    border: #3D92E4 1px solid;
    color: #fff;
}

.user {
    width: 780px;
}

.user-item {
    width: 100%;
    padding: 15px 0;
    border-bottom: #F1F1F1 1px solid;
}

.user-item .welcome {}

.user-item .point {
    font-size: 25px;
}

.user-item .sign-on {
    background: #F15B5B;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    cursor: pointer;
}

.user-item .sign-off {
    background: #F5F5F5;
    padding: 2px 5px;
    border-radius: 3px;
}

.user-item .logintime {
    color: #999;
}

.user-favorite {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.favorite-list {
    width: 100%;
}

.favorite-list li {
    padding: 5px 0;
    line-height: 25px;
    border-bottom: #F1F1F1 1px dashed;
    overflow: hidden;
}

.favorite-list li a {
    color: #3D92E4;
}

.favorite-list li a:hover {
    color: #F15B5B;
}

.favorite-list .name {}

.favorite-list .time {
    color: #999;
    font-size: 12px;
}

.user-point {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.point-list {
    width: 100%;
}

.point-list li {
    padding: 5px 0;
    line-height: 25px;
    border-bottom: #F1F1F1 1px dashed;
    overflow: hidden;
}

.point-list .time {
    color: #999;
    font-size: 12px;
}

.point-list .amount {
    font-size: 16px;
}

.point-list .event-1 {
    color: #3D92E4;
}

.point-list .event-2 {
    color: #3D92E4;
}

.point-list .event-3 {
    color: #F15B5B;
}

.point-list .event-4 {
    color: #3D92E4;
}

.point-list .event-5 {
    color: #F15B5B;
}

.point-list .event-6 {
    color: #3D92E4;
}

.point-list .event-7 {
    color: #F15B5B;
}

.point-list .event-8 {
    color: #3D92E4;
}

.user-info {
    width: 100%;
    padding: 15px 0;
}

.formbox {
    width: 100%;
    margin: 0 auto;
}

.form-control {
    width: 350px;
    padding: 10px 0;
}

.form-control label {
    float: left;
    width: 100px;
}

.form-control input {
    float: left;
}

.form-control .from-btn {
    margin-left: 75px;
}

.input-text {
    border: #E0E0E0 1px solid;
    width: 100%;
    height: 40px;
    font-size: 14px;
    border-radius: 3px;
}

/*在线留言*/
.input-textarea {
    width: 100%;
    height: 150px;
    padding: 10px 16px;
    border: 1px solid #F5F5F5;
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    background: #fff;
    -webkit-transition: border-color .2s linear;
    transition: border-color .2s linear
}

.input-textarea:hover {
    border-color: #E0E0E0
}

.input-textarea:focus {
    outline: 0
}

.message-btn {
    width: 120px;
    margin: 10px auto;
}

/*单页样式*/
.page {
    background: #fff;
    padding: 15px;
}

.page .tips {
    padding: 30px 0;
    font-size: 18px;
    color: #999;
    text-align: center;
}

.page .title {
    font-size: 18px;
    padding: 15px 0;
    text-align: center;
}

.page .desc {
    line-height: 25px;
}

.page .desc p {
    text-indent: 28px;
    margin: 10px 0;
}

.flink {
    width: 1000px;
    background: #fff;
    padding: 10px;
    margin: 15px auto;
    border-radius: 3px;
}

.flink span {
    line-height: 30px;
}

.flink a {
    padding: 0 10px;
}

/*通用底部*/
.footer {
    width: 100%;
    padding: 15px 0;
}

.footer .abouts {
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
}

.footer .abouts span {
    padding: 0 10px;
    color: #999;
}

.footer .copyright {
    font-size: 12px;
    line-height: 20px;
    color: #999;
    text-align: center;
}

/*输入框错误*/
.Validform_error {
    background-color: #fbe2e2;
    border-color: #c66161;
    color: #c00;
}
